.feedback-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: relative;
  top: 10%;
  margin: -10px auto;
  p {
    text-align: center;
    font-size: 27px;
    font-family: nunito;
    margin-top: 50px;
  }
  img {
    max-width: 200px;
    align-self: center;
  }
}

.exit {
  max-height: 100px;
  cursor: pointer;
  margin-bottom: 50px;
  transition: all 0.2s;
  margin-top: 50px;
  margin-bottom: 20px;
  @media (max-width: 350px) {
    max-height: 70px;
  }
  @media (max-width: 240px) {
    max-height: 45px;
  }
}
a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.table {
  top: 10%;
  right: 10%;
  left: 10%;
  &-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    @media (max-width: 400px) {
      font-size: 20px;
    }
  }
}
